<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Update Note - Note Taking App</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Add your custom styles here */
    .note-container {
      max-width: 800px;
      margin: 50px auto;
    }

    .form-group {
      margin-bottom: 20px;
    }
  </style>
</head>

<body>

  <!-- Note creation form -->
  <div class="container note-container">
    <h2 class="text-center mb-4">Update Note</h2>
    <form method="post" action="{% url 'notes:update_notes' note.id %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="noteTitle">Title</label>
        <input type="text" class="form-control" id="noteTitle" name="title" value="{{ note.note_title }}" placeholder="Enter title">
      </div>
      <div class="form-group">
        <label for="noteBody">Body</label>
        <textarea class="form-control" id="noteBody" name="body" rows="5" placeholder="Enter note content">{{note.note_body}}</textarea>
      </div>
      <a class="btn btn-danger mr-2" href="{% url 'notes:notes' note.id%}">Cancel</a>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>

  <!-- Bootstrap JS and jQuery (required for Bootstrap) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
